<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Members</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
    </div>
  </div>
  <div *ngIf="memberList.length !== 0; else noRecord">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Gender</th>
            <th>City</th>
            <th>Province</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of memberList; let i = index">
            <td>{{item.name}}</td>
            <td>{{item.mobileNo}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.city}}</td>
            <td>{{item.province}}</td>
            <td>{{item.email}}</td>
            <td>{{item.status}}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noRecord>
    <div class="row">
      <div class="col-12 p-4 text-center">
        <p>No Record Found.</p>
      </div>
    </div>
  </ng-template>
</div>



<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Create new member</h4>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Name</label>
            <input type="text" [(ngModel)]="memberObj.name" class="form-control" placeholder="Name">
          </div>
          <div class="col-6">
            <label for="">Mobile Nnmber</label>
            <input type="tel" [(ngModel)]="memberObj.mobileNo" class="form-control" pattern="[0-9]{11}">
          </div>
          <div class="col-6">
            <label for="">Email</label>
            <input type="email" [(ngModel)]="memberObj.email" class="form-control" placeholder="Email">
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" [(ngModel)]="memberObj.city" class="form-control" placeholder="City">
          </div>
          <div class="col-6">
            <label for="">Province</label>
            <input type="text" [(ngModel)]="memberObj.province" class="form-control" placeholder="Province">
          </div>
          <div class="col-4">
            <label for="">Gender</label>
            <input type="text" [(ngModel)]="memberObj.gender" class="form-control" placeholder="Gender">
          </div>
          <div class="col-4">
            <label for="">Status</label>
            <input type="text" [(ngModel)]="memberObj.status" class="form-control" placeholder="Status">
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        @if (memberObj.id == 0){
          <button type="button" class="btn btn-primary" (click)="saveMember()">Save</button>
        }@else{
          <button type="button" class="btn btn-success" (click)="updateMember()">Save</button>
        }
        
      </div>

    </div>
  </div>
</div>